version: "3.8"

services:
  frontend:
    build:
      context: ./src/main/frontend
      dockerfile: Dockerfile
    ports:
      - "5178:80"
    volumes:
      - ./src/main/frontend/dist:/usr/share/nginx/html
    depends_on:
      - backend

  backend:
    build:
      context: ./
      dockerfile: Dockerfile.backend
    ports:
      - "8093:8093"
    volumes:
      - ./uploads:/uploads
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/${MYSQL_DATABASE}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      UPLOAD_DIR: /uploads
      TZ: Asia/Seoul
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      - sharesiteDB_volume:/var/lib/mysql

volumes:
  sharesiteDB_volume:
    external: true
