body {
    margin: 0;
    line-height: inherit;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

h1,h2,h3,h4,h5 {
    font-size: inherit;
    font-weight: inherit;
}

*::after, ::before {
    position: absolute;

    box-sizing: border-box;
    border: 0 solid #f9f9f9;
}

div {
    unicode-bidi: isolate;
}

ul {
    justify-content: center;
    align-items: center;

    list-style: none;
    list-style-type:  none;
}

li {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    
    cursor: pointer;
    word-break: keep-all;

    padding: 0 .75rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0;

    background-color: transparent;
    background-image: none;

    border: transparent;

    text-transform: none;
}

p {
    margin: 0;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.Navber_wrapper {
    position: fixed;
    display: block;

    width: 100%;
    height: 10rem;

    top: 0;

    z-index: 20;

    background-color: white;
    border-bottom: 1px solid #c9c9c9;
}

.Navbar1 {
    position: relative;
    display: flex;
    box-sizing: content-box;

    margin: auto;
    padding: 0 2rem;

    max-width: 1024px;
    height: 6rem;

    align-items: center;
}

.Navbar2 {
    position: relative;
    display: flex;
    box-sizing: content-box;

    margin: auto;
    padding: 0 2rem;

    max-width: 1024px;
    height: 4rem;

    align-items: center;
}

.Searchbar {
    position: relative;
    display: flex;
    box-sizing: border-box;

    margin-top: 0em;

    padding: 20px 10px;

    width: 100%;
    height: 2.5rem;

    border-radius: .375rem;
    background-color: rgba(241, 244, 246, 1);
    overflow: hidden;
    align-items: center;
}

.Searchbar label {
    margin: 0 5px;
    text-align: center;
    vertical-align: middle;
}

.Searchbar-input {
    width: 396px;
    font-size: .875rem;
    line-height: 35px;

    background-color: rgba(241, 244, 246, 1);
}

.Searchbar-input:focus {
    outline: none;
}

.Menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;

    margin-left: .25rem;

    width: 300px;
    min-height: 0 !important;
    height: auto !important;
}

.Menu>ul {
    position: relative;
    display: flex;
}

.SSLogo {
    width: 115px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;

    margin: 20px;
    float: inline-start;
}


.CategoryBox {
    position: relative;
    display: flex;

    margin: 0 20px;
    padding: 0 1rem;

    justify-content: center;
    align-items: center;

    color: white;
    background-color: #0036ab;
    font-size: 14px;
    cursor: pointer;

    height: 2.75rem;
    border-radius: .375rem;
    gap: 8px;
}

.CategoryBox::before {
    position: absolute;

    bottom: -.625rem;

    width: 100%;
    height: .625rem;

    cursor: pointer;

    content: "";
    z-index: 10;
}

.CategoryBox:hover>.CategoryDetail {
    visibility: visible;
    opacity: 1;
}

.CategoryDetail {
    position: absolute;
    visibility: hidden;

    top: 55px;
    left: 0;

    width: 240px;
    height: 432px;
    max-height: 480px;

    line-height: 24px;
    
    background-color: white;
    box-shadow: 0px 2px 3px #555;
}

.CategoryDetail:hover {
    visibility: visible;
}

.CategoryDetail>ul {
    display: block;

    padding: 24px 0;
    margin: 0;

    width: inherit;
    
    font-size: 14px;
    line-height: 20px;
}

.CategoryDetail>ul>li {
    display: list-item;

    padding: 0 20px;

    width: inherit;
}

.CategoryDetail>ul>li:hover {
    background-color: #c9c9c9;
    transition: 0.2s;

    overflow: hidden;
}

.CategoryDetail>ul>li>a {
    display: flex;
    padding: .625rem 0;
    align-items: center;

    cursor: pointer;

    color: black;
    text-decoration: inherit;
}

.SubCategory {
    position: absolute;

    visibility: hidden;
    
    top: 0;
    left: 100%;
    
    width: 200px;
    height: 432px; /* 432px */
    
    color: black;
    background-color: rgba(244,244,244);
    box-shadow: 0px 2px 3px #555;

    z-index: 10;
}

.CategoryDetail>ul>li:hover>.SubCategory {
    visibility: visible;
}

.SubCategory>ul {
    display: block;

    width: 200px;

    justify-content: center;
    
    padding: 28px 0;
}

.SubCategory>ul>li {
    padding: 10px 20px;

    justify-content: left;
}


.SubCategory>ul>li:hover {
    background-color: #c9c9c9;
    transition: 0.5s;
}

.NavMenu {
    position: relative;
    display: flex;
}

.NavItem {
    display: block;

    padding: 4px 0;

    cursor: pointer;
}

.NavItem>a {
    position: relative;
    display: inline-flex;

    align-items: center;

    padding: 12px 16px;
}

.UserMenu {
    position: absolute;
    
    padding: 10px 10px;

    width: 80px;
    height: 50px;
    right: -29px;

    text-align: center;

    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;

    z-index: 1;
}

.logout {
    position: relative;

    margin: 5px auto;
    padding: 5px 0px;

    width: 90%;

    border-top: 2px solid gray;
}