.write-container {
    width: 100%;
    height: 100%;

    margin: 0 auto;
}

.write-from {
    margin: 0 auto;
    max-width: 1024px;
}

.form-row {
    display: block;

    text-align: center;
    align-items: center;

    padding: 10px;
}

/* 이미지 첨부 부분 */
.input-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-img label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    gap: 10px;

    width: 90px;
    height: 90px;

    border-radius: 10px;
    border: 2px solid #777;
    background-color: rgb(235, 235, 235);

    cursor: pointer;
}

.input-img label span {
    color: gray;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
}

.img-box {
    display: flex;
    padding: 0px 10px;
    gap: 10px;
}

.img-thumb {
    width: 110px;
    height: 110px;
    
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #777;
    transition: box-shadow 0.3s ease;

    cursor: pointer;
}

.img-thumb:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.img-thumb.main {
    border: 2px solid #4caf50;
}

.img-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-thumb .badge {
    position: relative;

    bottom: 120px;
    right: 36px;

    background-color: #4caf50;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-thumb .empty {
    position: relative;

    opacity: 0;

    bottom: 120px;
    right: 36px;
    font-size: 10px;
    padding: 4px 5px;
}

.img-thumb .img-delete-btn {
    position: relative;

    bottom: 30px;
    left: 76px;

    font-size: 15px;
    background-color: red;
    color: white;

    padding: 0px 6px;
    padding-bottom: 4px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 상품명 부분 */
.input-subject input {
    width: 260px;
    padding-right: 15px;

    font-size: 13.5px;
    font-weight: bold;

    border: 2px solid #777;
}

/* 상품 카테고리 부분 */
.input-category {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 410px;

    font-size: 15px;
}

.input-category label {
    width: 300px;
    padding-bottom: 10px;

    margin: 0 auto;

    text-align: left;
    font-size: 20px;
}

.input-category button {
    width: 100%;
    height: 35px;
}

.input-category button:hover {
    background-color: #AAA;
}

.category-wrapper {
    display: flex;

    justify-content: center;
}

.parent-category {
    width: 200px;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;

    padding: 20px 0px;

    border: 2px solid #777;
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
}

.parent-category-selected {
    width: 200px;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;

    padding: 20px 0px;

    border: 2px solid #777;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(235, 235, 235);
}

.sub-category {
    width: 200px;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;

    padding: 20px 0px;

    border: 2px solid #777;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(225, 225, 225);
}

.selected {
    background-color: #BBB;
}

/* 가격 입력 부분 */
.input-price {
    position: relative;

    width: 300px;

    margin: 0 auto;
}

.input-price input {
    width: 260px;
    padding-left: 30px;
    
    font-size: 13.5px;
    font-weight: bold;
    color: #777;

    border: 2px solid #777;
}

.input-price-wrapper span {
    position: absolute;

    left: 18px;
    top: 50%;
    transform: translateY(-50%);

    color: #777;
    font-size: 13.5px;
    font-weight: bold;

    z-index: 1;
}

/* 상품 설명 부분 */
.input-content textarea {
    width: 260px;
    height: 100px;

    resize: none;
    overflow: hidden;
    
    padding: 15px;
    
    font-size: 13.5px;

    border: 2px solid #777;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

/* 상품 상태 부분 */
.input-itemtype {
    position: relative;
}

.input-itemtype label {
    width: 300px;

    text-align: left;
    font-size: 20px;
}

/* 라디오 버튼 공통 */
.radio-group {
    display: flex;
    margin: 0 auto;

    padding-right: 80px;
    width: 230px;
}

.radio-box {
    position: relative;
    display: flex;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group span {
    width: 70px;
    
    margin-top: 10px;
    
    padding: 10px;

    text-align: center;
    font-size: 15px;

    color: #91B4FF;
    background-color: white;
    border: 2px solid #91B4FF;
    border-radius: 10px;
}

.radio-group input[type="radio"]:checked + span {
    color: white;
    background-color: #91B4FF;
}

/* 상품 거래 방식 부분 */
.input-purtype {
    position: relative;
}

.input-purtype label {
    width: 300px;

    text-align: left;
    font-size: 20px;
}

/* 희망지역 부분 */
.location-btn {
    position: relative;
}

.location-btn label {
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    width: 300px;
    text-align: left;

    font-size: 20px;
}

.location-btn button {
    width: 110px;
    margin-top: 10px;
    margin-right: 180px;
    padding: 10px;

    font-size: 15px;
    font-weight: bold;

    color: white;
    background-color: #91B4FF;
    border: 2px solid #91B4FF;
    border-radius: 10px;
}