
.Contents_wrapper {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 0 32px;

    max-width: 1150px;
}

.Product_wrapper {
    display: flex;
    flex-direction: column;

    height: inherit;

    margin-bottom: 125px;
}

.Product_wrapper h3 {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;

    margin: 0;
}

.Items {
    display: flex;
    position: relative;

    justify-content: center;

    width: 100%;
    height: 100%;

    z-index: 10;
}