
/* Normal Card CSS */
.Normal_Card_wrapper {
    margin: 0px 20px;

    cursor: pointer;
}

.Normal_Card_img_temp {
    width: 220px;
    height: 160px;
    object-fit: cover;
    filter: grayscale();
}

.Normal_Card_img {
    width: 280px;
    height: 160px;
    object-fit: cover;
    filter: grayscale();
}

.Normal_CardBody {
    display: block;
}

.Normal_CardBody p {
    margin: 10px;
    flex: 1;
}

.Normal_CardBody span {
    margin: 5px 10px;
    border-radius: 9px;
}

.subject {
    font-size: 15px;
}

.price {
    font-size: 25px;
    font-weight: bold;
}

.span_trading {
    background-color: #ed5e60;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
}

.span_traded {
    background-color: #00a234;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
}

.span_time {
    color: gray;
    font-size: 14px;
    float: right;
}

.paginaton {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1100px;
    height: inherit;

    text-align: center;

    z-index: -1;
}

.button{
    margin: 0 1px;
    width: 5px;
    height: 5px;

    margin-top: 330px;

    border-radius: 10px;

    background-color: gray;
    cursor: pointer;
}

.paginatonBtn {

    width: 35px;
    height: 35px;

    line-height: 42px;

    color: white;
    background-color: #BBB;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.paginatonBtn:hover {
    background-color: gray;
}

.buttonSelected {
    margin: 0 1px;
    width: 20px;
    height: 5px;

    border-radius: 10px;
    background-color: black;

    cursor: pointer;
}



/* Small Card CSS */
.Small_Card_wrapper {

}