.write-container {
    width: 100%;
    height: 100%;
}

.write-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 700px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.form-row {
    align-items: center;
    padding: 10px 30px;
}

/* 이미지 첨부 부분 */
.input-img {
    display: flex;
    align-items: center;
}

.input-img label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.input-img label span {
    color: gray;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
}

.img-box {
    display: flex;
    padding: 0px 10px;
    gap: 10px;
}

.img-thumb {
    width: 94px;
    height: 94px;
    
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #777;
    transition: box-shadow 0.3s ease;

    cursor: pointer;
}

.img-thumb:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.img-thumb.main {
    border: 2px solid #4caf50;
}

.img-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge {
    position: absolute;

    background-color: #4caf50;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 5px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.empty {
    position: absolute;
    opacity: 0;
    bottom: 120px;
    right: 36px;
    font-size: 10px;
    padding: 4px 5px;
}

.img-delete-btn {
    position: absolute;
    background-color: #444;
    color: white;
    font-size: 10px;
    margin-left: 72px;
    padding: 3.5px 8px;
    border-radius: 20px;
}

/* 상품명 부분 */
.input-subject input {
    width: 90%;
    padding-right: 15px;

    font-size: 13.5px;
    font-weight: 500;
}

/* 상품 카테고리 부분 */
.input-category {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 0;
    width: 410px;

    font-size: 15px;
}

.input-category label {
    width: initial;
    padding-bottom: 10px;

    margin: 0 auto;
    margin-left: 0;

    text-align: left;
    font-size: 20px;
}

.input-category button {
    width: 100%;
    height: 35px;
}

.input-category button:hover {
    background-color: #AAA;
}

.category-wrapper {
    display: flex;
    justify-content: left;
}

.parent-category {
    width: 200px;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;

    padding: 20px 0px;

    border: 1.5px solid #777;
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
}

.parent-category-selected {
    width: 200px;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;

    padding: 20px 0px;

    border: 1.5px solid #777;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(235, 235, 235);
}

.sub-category {
    width: 200px;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;

    padding: 20px 0px;

    border: 1.5px solid #777;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(225, 225, 225);
}

.selected {
    background-color: #BBB;
}

/* 가격 입력 부분 */
.input-price {
    position: relative;
    margin: 0 auto;
    width: inherit;
}

.input-price input {
    width: 90%;
    padding-left: 30px;
    
    font-size: 13.5px;
    font-weight: 500;
    color: #777;
}

.input-price-wrapper span {
    position: absolute;

    left: 18px;
    top: 50%;
    transform: translateY(-50%);

    color: #777;
    font-size: 13.5px;
    font-weight: 500;

    z-index: 1;
}

/* 상품 상태 부분 */
.input-itemtype {
    position: relative;
}

.input-itemtype label {
    width: 300px;

    text-align: left;
    font-size: 20px;
}

/* 라디오 버튼 공통 */
.radio-group {
    display: flex;
    margin: 0 auto;
    margin-left: 0;

    padding-right: 80px;
    width: 230px;
}

.radio-box {
    display: flex;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group span {
    width: 70px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #91B4FF;
    background-color: white;
    border: 2px solid #91B4FF;
    border-radius: 10px;
}

.radio-group input[type="radio"]:checked + span {
    color: white;
    background-color: #91B4FF;
}

/* 상품 거래 방식 부분 */
.input-purtype {
    position: relative;
}

.input-purtype label {
    width: 300px;
    text-align: left;
    font-size: 20px;
}

/* 희망지역 부분 */
.location-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.location-wrapper label {
    margin: 0 auto;
    margin-left: 0;
    width: 300px;
    text-align: left;

    font-size: 20px;
}

.location-btn {
    display: flex;
    width: 300px;
    height: 50px;

    margin: 0 auto;
    margin-left: 0;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.location-btn button {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    color: white;
    background-color: #91B4FF;
    border: 2px solid #91B4FF;
    border-radius: 10px;
    cursor: pointer;
}

.location-box {
    display: flex;
    margin: 0;
    margin-left: 20px;
}

.location-box ul {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    list-style: none;
    float: left;
    align-items: center;

    gap: 10px;
}

.location-box li {
    flex-wrap: wrap;
    width: initial;
    color: #777;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}

.location-box button {
    padding: 5px;
    width: initial;
    color: #777;
    background-color: white;
    border: none;
    cursor: pointer;
}

.item-submit {
    width: 80px;
    padding: 10px;

    margin: 0 auto;
    margin-right: 50px;

    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #91B4FF;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.item-submit:hover {
    background-color: #7a81ff;
}

.item-delete {
    width: 80px;
    padding: 10px;

    margin: 0 auto;
    margin-right: 50px;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #ee0000;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}   

.item-delete:hover {
    background-color: #be0000;
}