.item-wrapper {
    width: 100%;
    height: 100%;

    margin: 0 auto;
}

/* 구역 나누기 용 */
.item-row {
    display: flex;
    flex-direction: row;

    max-width: 1024px;

    margin: 0 auto;
}


/* 상품 이미지 및 상품 정보 란 */
.item-Image {
    margin: 10px auto;
    margin-right: 15px;
    margin-left: 110px;
}

.item-Image img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.item-Info {
    display: flex;
    flex-direction: column;

    width: 800px;

    margin: 10px auto;
    margin-left: 0;
}

.item-label {
    display: flex;
    flex-direction: column;

    width: 300px;
}

.item-category {
    width: 300px;
    padding: 5px 10px;
    padding-left: 0;

    font-size: 11.8px;
    color: #777;
}

.item-category a {
    padding: 5px;

    font-size: 11.8px;
    color: #777;
}

.item-category a:hover {
    color: black;
}

.item-label label {
    width: 300px;

    font-size: 25px;
    text-align: left;
    
}

.item-label p {
    width: 300px;
    margin: 2px 0;
    padding: 0px 12px;
    font-size: 12px;
    color: #AAA;
}

.item-status-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    text-align: center;

    width: 400px;
    height: 85px;

    margin: 10px auto;
    margin-left: 0;

    background-color: #DDD;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.item-status-box a {
    margin: 25px 0px;
    font-size: 20px;
}

.item-status label{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 0px;

    font-size: 14px;
    text-align: center;
}

.item-status p {
    margin-top: 3px;
    font-size: 20px;
}

.item-location {
    display: flex;
    flex-direction: row;

    
}

.item-location label {
    width: inherit;

    margin: 12px 0px;

    font-size: 12px;
    text-align: left;
}

.item-location p {
    width: inherit;

    padding: 0px 10px;

    font-size: 12px;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

/* 찜, 채팅, 구매 버튼 란 */
.item-Btns {
    display: flex;
    flex-direction: row;

    margin: 10px auto;
    margin-left: 0;
    gap: 30px;

    padding-left: 10px;
}

.item-chat-btn {
    border: 2px solid #777;
    border-radius: 8px;
    padding: 5px 40px;
    font-size: 15px;
    font-weight: bold;
    color: #777;
}

.item-chat-btn:hover {
    color: white;
    background-color: #777;
}

.item-purchase-btn {
    border: 2px solid #7badff;
    border-radius: 8px;
    padding: 7px 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: #7badff;
}

.item-purchase-btn:hover {
    background-color: #7badff;
    color: white;
}

/* 상품 설명 및 판매자 정보 란 */
.item-subInfo {
    display: flex;
    flex-direction: row;

    width: 815px;
    margin: 10px auto;
    justify-content: space-between;
}

.item-subInfo-label {
    text-align: left;
    font-size: 25px;
    width: inherit;
    padding: 0;
    border-bottom: 2px solid #CCC;
}

.item-content-box {
    width: 460px;
    text-align: left;
}

.item-content {
    margin-bottom: 30px;

    height: 220px;

    overflow: scroll;
    overflow-x: hidden;

    border-bottom: 1px solid #CCC;

    padding: 15px;
}

.item-content pre {
    font-family: Arial, Helvetica, sans-serif;
}

.item-content::-webkit-scrollbar {
    display: none;
}

.item-seller-box {
    width: 320px;
    text-align: left;
}

.item-seller {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 54px;
    justify-content: space-between;
}

.item-seller p {
    margin-left: 40px;
    text-align: left;
    font-size: 25px;
    width: inherit;
    font-weight: bold;
    line-height: 7px;
    border-bottom: none;

    cursor: pointer;
}

.item-seller img {
    width: 50px;
    height: 50px;

    margin-right: 35px;

    object-fit: cover;
    border: 2px solid #777;
    border-radius: 50px;

    cursor: pointer;
}

.item-seller-info {
    display: flex;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 20px;
    gap: 5px;
    width: 95%;
    height: 100px;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ccc;
}

.item-seller-infoBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-weight: 500;
}

.seller-product {
    margin: 0 auto;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

    width: 810px;
}

.seller-product label {
    padding: 0;
    width: 480px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 25px;
}

.seller-product-box {
    display: flex;
    flex-direction: row;

    background-color: white;
    height: 200px;
}

.category-product {
    margin: 0 auto;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

    width: 810px;
}

.category-product label {
    padding: 0;
    width: 480px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 25px;
}

.category-product-box {
    display: flex;
    flex-direction: row;

    background-color: white;
    height: 200px;
}

.item-empty {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: inherit;
    max-width: 950px;
    padding: 0px 50px;

    border: 1px solid #AAA;
    border-radius: 20px;
}

.item-empty p {
    margin-left: 10px;
    margin-bottom: 15px;
    line-height: 110px;
    font-size: 15px;
    font-weight: bold;
    color: #AAA;
}

/* 상품 수정 및 삭제 버튼 */
.item-user-btn {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    gap: 50px;
}

.item-user-btn p {
    display: none;
}

.edit-btn {
    display: flex;
    width: 50px;
    height: 50px;
    padding-top: 11px;
    padding-left: 13px;
    border-radius: 50px;
    background-color: #7badff;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    width: 130px;
    background-color: #3477de;
}

.edit-btn:hover > p {
    display: flex;
    color: white;
    margin-top: 2px;
    margin-left: 8px;
}

.delete-btn {
    display: flex;
    width: 50px;
    height: 50px;
    padding-top: 13px;
    padding-left: 14px;
    border-radius: 50px;
    background-color: #ee0000;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    width: 130px;
    background-color: #be0000;
}

.delete-btn:hover > p {
    display: flex;
    color: white;
    margin-top: 0px;
    margin-left: 8px;
}