.report-search-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.report-search-box {
    display: flex;
    width: inherit;
    margin: 0 auto;
    padding: 0px 15px;
    border: 3px solid #777;
    border-radius: 30px;
    align-items: center;
}

.report-result-wrapper {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.report-result-box {
    display: flex;
    gap: 30px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
}

.report-result-label {
    font-size: 20px;
    font-weight: 500;
}

.report-result-reason {
    display: flex;
    margin: 30px auto;
    width: 400px;
}

.report-result-list {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0px 20px;
    border-left: 3px solid black;
    gap: 15px;
}

.report-result-list p {
    margin: 0;
}

.report-result-content {
    position: absolute;
    width: 300px;
    top: 0;
    left: 150px;
    padding: 2px 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.report-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    padding: 10px 30px;
    border: 2px solid #777;
    border-radius: 10px;
}

.report-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-weight: 500;
}

.report-box p {
    margin-bottom: 0;
}

.report-select {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
}

.report-textarea {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 100px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 13px;
    resize: none;
}

.report-img {
    margin-left: 10px;
    font-size: 13px;
    text-align: center;
    padding: 2px;
    border: 1px solid #777;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}

.report-imgList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    row-gap: 10px;
}

.report-imgBox {
    position: relative;
    max-width: 100px;
    max-height: 150px;
}

.report-img-delBtn {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.report-imgBox img {
    width: 100px;
    border: 2px solid #777;
    object-fit: cover;
}

.report-submit {
    margin: 0px auto;
    margin-top: 20px;
    width: 80px;
    padding: 5px 0px;
    border-radius: 8px;
    background-color: #777;
    color: white;
    cursor: pointer;
}

.report-confirm {
    width: 40%;
    margin: 70px auto;
}

.report-confirm-box {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 2px solid black;
    border-radius: 20px;
}

.report-confirm-box p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15px;
}

.report-confirm-box button {
    margin: 0 auto;
    width: 200px;
    padding: 5px 0px;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
}