.searchPrice-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.searchPrice-input {
    display: flex;
    margin: 10px auto;
    padding: 5px 20px;
    gap: 10px;
    width: 60%;
    align-items: center;
    border: 3px solid #7baeff;
    border-radius: 30px;
}

.searchPrice-input input {
    background-color: white;
    outline: none;
}

.searchPrice-info-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 20px 30px;
    padding-bottom: 0;
    gap: 20px;
    width: 50%;
    border-radius: 20px;
    justify-content: center;
    background-color: #ddd;
}

.searchPrice-info-box {
    display: flex;
    flex-direction: column;
}

.searchPrice-info-box label {
    width: inherit;
}

.searchPrice-info-box p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #7baeff;
}