.withdraw-container {
    width: 100%;
}

.withdraw-box {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 20px;
}

.withdraw-p {
    font-weight: 500;
    font-size: "14px";
}

.withdraw-input {
    padding: 0px 20px;
    background-color: white;
    border: 2px solid #42A5F5;
    outline: none;
    width: 60%;
}

.withdraw-btn {
    padding: 5px 20px;
    font-weight: 500;
    border: 2px solid #42A5F5;
    color: #42A5F5;
    border-radius: 10px;
    cursor: pointer;
}

.withdraw-btn:hover {
    background-color: #42A5F5;
    color: white;
}

/* 탈퇴 완료 확인 창 CSS */
.withdraw-complete-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 80px auto;
    text-align: center;
    gap: 5px;
}

.withdraw-complete-box p {
    margin: 0;
}

.withdraw-complete-btn {
    margin-top: 50px;
    border: 3px solid #42A5F5;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: 500;
    color: #42A5F5;
    cursor: pointer;
}

.withdraw-complete-btn:hover {
    background-color: #42A5F5;
    color: white;
}

.service-unlink-url {
    color: #42A5F5;
}

.service-unlink-url:hover {
    color: rgb(40, 94, 136);
}