.userside-box {
    display: flex;
    flex-direction: column;
}

.userside-userinfo {

}

.userside-userinfo-img {

}

.userside-userinfo-regtype {

}

.userside-userinfo-useralias {
    
}

.userside-button {

}

.userside-alert {

}

.userside-logout