.review-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review-label {
    margin-top: 30px;
    font-size: 20px;
}

.review-input {
    display: flex;
    flex-direction: column;
}

.review-btn {
    width: 400px;
    margin: 5px auto;
    padding: 10px 0px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    cursor: pointer;
}

.review-btn-checked {
        width: 400px;
    margin: 5px auto;
    padding: 10px 0px;
    text-align: left;
    border: 1px solid black;
    color: black;
    border-radius: 8px;
    cursor: pointer;
}

.review-btn-span {
    width: initial;
    margin-left: 20px;
}

.review-btn:hover {
    border: 1px solid black;
    color: black;
}

.review-detail {
    width: 90%;
    height: 120px;
    margin: 0 auto;
    margin-top: 10px;

    border: 1px solid rgba(0, 0, 0, 0.3);
}

.review-submit-btn {
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 25px;
    padding: 10px 50px;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}