/* 채팅방 리스트 CSS 부분 */
.chatRoom-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chatRoom-box {
    display: flex;
    margin: 10px 20px;
    cursor: pointer;
}

.chatRoom-img {
    width: 60px;
    border-radius: 50px;
}

.chatRoom-info {
    display: flex;
    flex-direction: column;
    margin: 8px auto;
    margin-left: 20px;
}

.chatRoom-label {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: left;
}

.chatRoom-content {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 15px;
    color: #555;
}

.chatRoom-sub {
    display: flex;
    flex-direction: column;
}

.chatRoom-time {
    margin: 0;
    margin-top: 8px;
    font-size: 12px;
}
.chatRoom-unread {
    width: 10px;
    margin: 0 auto;
    margin-top: 8px;
    padding: 0px 5px;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border-radius: 20px;
    background-color: red;
}

/* 채팅방 CSS 부분 */
.chat-room {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #7badff33;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: inherit;
    overflow-y: auto;
}

.chat-menu-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-menu {
    display: flex;
    gap: 30px;
    padding: 15px 0px;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    background-color: white;
}

.chat-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.chat-span {
    margin: 0 auto;
    margin-top: 15px;
    padding: 3px 15px;
    font-size: 13px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.chat-input {
    position: fixed;
    display: flex;
    width: 95%;
    left: 10px;
    bottom: 5px;
    justify-content: space-between;
    border-radius: 8px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.chat-message {
    width: 70%;
    height: 40px;
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: white;
    color: white;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
}

.chat-message:focus, ::placeholder {
    outline: none;
    color: #777;
}

.chat-btn {
    padding: 0px 15px;
    color: white;
    background-color: lch(70.4% 46.09 277.33);
    border-radius: 5px;

    cursor: pointer;
}

/* 채팅방 메세지 CSS 부분 */
.chatMsg-box {
    display: flex;
    margin: 4px auto;
    align-items: center;
}

.sender {
    margin-right: 5px;
    text-align: right;
}

.receiver {
    margin-left: 5px;
    flex-direction: row-reverse;
    text-align: left;
}

.chatMsg-label {
    display: flex;
    flex-direction: column;
    
    font-size: 10px;
}

.chatMsg-content-sender {
    max-width: 180px;
    margin: 0;
    padding: 5px 15px;
    border-radius: 8px;
    text-align: left;
    font-size: 15px;
    font-family: none;
    background-color: rgb(202, 220, 255);
}

.chatMsg-content-receiver {
    max-width: 180px;
    margin: 0;
    padding: 5px 15px;
    border-radius: 8px;
    text-align: left;
    font-size: 15px;
    font-family: none;
    background-color: white;
}

.chatMsg-content-system {
    margin: 0;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 13px;
    font-family: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
}

/* 상대방 정보 CSS 부분 */
.chat-userInfo-wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 10px 0px;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    cursor: pointer;
    z-index: 200;
}

.chat-userInfo-box {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
}

.chat-userInfo-img {
    width: 70px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.chat-userInfo-text {
    margin: 0;
    padding: 0;
}

.chat-userInfo-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 50px;
}