.chat-room {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #7badff33;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow-y: auto;
}

.chat-menu-box {
    width: 100%;
}

.chat-menu {
    display: flex;
    gap: 30px;
    padding: 15px 0px;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    background-color: white;
}

.chat-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.chat-span {
    margin: 0 auto;
    margin-top: 15px;
    padding: 3px 15px;
    font-size: 13px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.chat-input {
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 8px;
    justify-content: space-between;
    border-radius: 8px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.chat-message {
    width: 70%;
    height: 40px;
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: white;
    color: white;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
}

.chat-message:focus, ::placeholder {
    outline: none;
    color: #777;
}

.chat-btn {
    padding: 0px 15px;
    color: white;
    background-color: lch(70.4% 46.09 277.33);
    border-radius: 5px;

    cursor: pointer;
}

/* 채팅방 메세지 CSS 부분 */
.chatMsg-box {
    display: flex;
    margin: 4px auto;
    align-items: center;
}

.sender {
    margin-right: 5px;
}

.receiver {
    margin-left: 5px;
    flex-direction: row-reverse;
}

.chatMsg-label {
    display: flex;
    flex-direction: column;
    text-align: right;
    
    font-size: 10px;
}

.chatMsg-content-sender {
    max-width: 180px;
    padding: 5px 15px;
    border-radius: 8px;
    text-align: left;
    font-size: 15px;
    background-color: rgb(202, 220, 255);
}

.chatMsg-content-receiver {
    max-width: 180px;
    padding: 5px 15px;
    border-radius: 8px;
    text-align: left;
    font-size: 15px;
    background-color: white;
}