/* Modal 설정 */
.modal-backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);

    z-index: 100;
}

.modal-container {
    position: fixed;

    top: 30%;
    left: 30%;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 35%;
    padding: 30px;
    padding-top: 5px;
    gap: 20px;
    
    animation: appear 0.5s ease-out forwards;

    background-color: white;
    border: 2px solid #777;
    border-radius: 10px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-title {
    font-size: 20px;
    font-weight: bold;

}

.modal-message {
    color: #777;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-weight: bold;

    width: 100%;
}

.modal-button-cancel {
    padding: 10px 20px;

    color: #777;
    border: 2px solid #777;
    border-radius: 10px;
}

.modal-button-cancel:hover {
    color: white;
    background-color: #777;
}

.modal-button-confirm {
    padding: 10px 20px;

    color: #7badff;
    border: 2px solid #7badff;
    border-radius: 10px;
}

.modal-button-confirm:hover {
    color: white;
    background-color: #7badff;
}

/* ModifyModal 설정 */
.edit-modal-backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);

    z-index: 100;
}


.edit-modal-container {
    position: fixed;
    top: 20%;
    left: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: 30px;
    padding-top: 5px;
    gap: 5px;

    animation: appear 0.5s ease-out forwards;
    
    background-color: white;
    border: 2px solid #777;
    border-radius: 10px;
}

.edit-modal-btn {
    position: absolute;
    width: initial;
    height: initial;
    text-align: right;
    top: 20px;
    right: 30px;

    cursor: pointer;
}

.edit-modal-title {
    font-size: 20px;
    font-weight: bold;
}